.page
    width: 100vw
    height: 100vh
    .sidebar
        width: 250px
        height: 100%
        background: #FFF
        align-items: center
        padding: 50px 25px
        flex-direction: column
        ul
            list-style: none
            width: 100%
            padding: 0
            li
                display: flex
                align-items: center
                width: 100%
                justify-content: center
                cursor: pointer
                // background: #61B3FF
                color: #555
                // background-image: linear-gradient(to right, #329AFA , #61B3FF)
                // color: #FFF
                padding: 10px 12px
                box-sizing: border-box
                border-radius: 8px
                i
                    margin-right: 10px
                    font-size: 0.9em
                span
                    // width: 100%
                    
        .profile
            width: 80px
            height: 80px
            border-radius: 50%